
.bg-body-tertiary{
    background-color: rgba(0, 136, 255, 0.2) !important;
}
.container {
height: 70vh;
}

.inicio-container{
    width: 65%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 10px;
    
}

.titulo-header{
    text-align: center;
    margin-bottom: 20px;
}

.titulo-header h3{
    font-weight: 500;
    color: rgba(0, 0, 40, 1);
}

.btn-acceder{
    color:white;
    background-color: rgba(1, 37, 102, 0.8) !important;
    padding: 10px;
    width: 100%;
    font-weight: 400;
}


