

.inter-medium {
    font-family: "Inter", sans-serif;
    font-weight: 500;
}


.bg-body-tertiary {
    background-color: #2C2C2C !important;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}


.navbar-brand {
    color: #ffff !important;
}


.navbar-custom{
    background-color:rgba(0, 136, 255, 0.2)!important;
}

.titulo-gestiones{
    color: black !important;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.navbar-nav{
font-family: "Inter", sans-serif;
font-weight: 400;
position: absolute;
left: 50%;
transform: translate(-50%);
}
