

.navbar {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #212566 !important;
    height: 15%;
}

.navbar-items-right {
    display: flex; 
    margin-left: auto;  
    gap: 20px;             
}

.navbar .nav-link {
  color: #f6e771 !important;
  font-weight: 500;
}

.nav-link:hover {
  color:  #AAAAAA!important; 
}

.navbar-logo {
    height: 25%; 
    width: 15%;  
    object-fit: contain; 
    padding-left: 25px;
}